*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 100%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.search input{
    border: 2px solid black;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
@media(max-width:400px){
    #searchbox{
        width: 40px;
    }
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width:20px;
}
.whether-icon{
    width: 160px;
    margin-top: 30px;
}

.whether h1{
    font-size: 60px;
    font-weight: 500;
    
}

.whether h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
}

.ditails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display:flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 20px;
}
.humidity, .wind{
    font-size: 22px;
    margin-top: -6px;
}

.humidity1, .wind1{
    margin-top: 2px;
    font-size: 15px;
}
@media(max-width:420px){
    .humidity1, .wind1,.humidity, .wind{
         font-size: 13px;
         justify-content: space-between;
    }
}

@media(max-width:420px){
    .col img{
         width: 30px;
         margin-right: 10px;
    }
}
.whether{
    display: none;
}

.error{
    text-align: left;
    color:brown;
    margin-left: 10px;
    font-size: 24px;
    font-weight: Bold;
    margin-top: 10px;
    display: none;
}

.namefooter{
    text-align: right;
    
    color:lightyellow;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 35px;
   

}
.myname{
    color:#white;
    

}
